<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat Search Form</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <html>
  <head>
    <title>Flat Search Form</title>
  </head>
  <body>
    <h1>Flat Search Form</h1>
    <form method="POST">
    	<div class="field" id="searchform">
    	
		      <input type="text" name="url" id="searchterm" placeholder="enter the url" />
		      <input type="text" name="div" id="divid" placeholder="enter the div to be scraped" />
		      <button type="Submit" id="search">Submit</button>
		      
  	  </div>
  	  </form>
  </body>
</html>
  
  
</body>
</html>
